body {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}


/* Navigation Bar */

.navbar {
    padding: 0 0 4.5rem;
}

.navbar-brand {
    font-family: 'Ubuntu', sans-serif;
    color: white;
    font-size: 2.5rem;
}

.nav-link {
    font-size: 1.2rem;
    font-family: 'Montserrat-Light', sans-serif;
}


/* Download Buttons */

.download-button {
    margin: 5% 3% 5% 0;
}

.iphone {
    transform: rotate(25deg);
    width: 60%;
    position: absolute;
    right: 25%;
}


/* Title Section */

h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 3.5rem;
    line-height: 1.5;
    font-weight: 900;
    text-align: left;
}

#title {
    background-color: #ff4c68;
    color: white;
}

#title .container-fluid {
    padding: 3% 15% 7%;
}


/* Second Section */

#features {
    background: white;
    position: relative;
    padding: 7% 15%;
}

p {
    color: gray;
}

h3 {
    font-family: "Montserrat";
    font-size: 1.5rem;
    font-weight: 900;
    text-align: center;
    padding-top: 1rem;
}

.icon {
    color: #ef8172;
    font-size: 80px;
}

.icon:hover {
    color: rgb(230, 63, 63);
}


/* Testimonials */

#testimonials {
    background-color: #ef8172;
}

#testimonials-Controls {
    padding: 7% 15%;
}

.testimonial-text {
    color: #fff;
    font-family: "Montserrat";
    font-weight: 900;
    font-size: 3rem;
    line-height: 1.5;
}

.testimonial-img {
    width: 10%;
    border-radius: 100px;
    margin: 20px;
}

#press {
    background-color: #ef8172;
    padding-bottom: 5%;
}

.press-image {
    padding: 2%;
    width: 20%;
}


/* Pricing Section */

#pricing {
    padding: 5%;
}

.pricing-text {
    font-family: 'Montserrat', sans-serif;
    font-size: 3.5rem;
    font-weight: 900;
    margin-left: 20px;
}

.pricing-text2 {
    margin-left: 20px;
    padding-top: 2%;
}

.pricing-column {
    padding: 2% 3%;
}

@media (max-width:1028px) {
    h1 {
        text-align: center;
    }
    .iphone {
        position: static;
        transform: none;
    }
}


/* Call to Action */

#cta {
    background: #ff4c68;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    font-weight: 900;
    padding: 7% 15%;
}

#footer {
    background: white;
    padding-top: 100px;
    padding-bottom: 17px;
    /* text-align: center; */
}

.fab {
    padding-right: 20px;
}

.lasttext {
    font-size: 3em;
}